// @mixin antialiasing ($value,: subpixel) {
//   @if $value == subpixel {
//     -webkit-font-smoothing: subpixel-antialiased;
//   }
//
//   @if $value == pixel {
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
//   }
// }

@mixin gradient-vertical ($start, $stop, $from: 0, $to: 100%) {
  background: linear-gradient(to bottom, $start $from, $stop $to);
}

// @mixin tile-color ($color) {
//   background-color: $color;
//
//   &:after {
//     @include gradient-vertical(rgba($color, 0), rgba($color, 1));
//   }
// }

@mixin position-center-horizontal ($position: absolute) {
  position: $position;
  left: 50%;

  transform: translateX(-50%);
}

@mixin position-center-vertical ($position: absolute) {
  position: $position;
  top: 50%;

  transform: translateY(-50%);
}


@mixin position-center ($position: absolute) {
  position: $position;
  top: 50%;
  left: 50%;

  transform: translateX(-50%) translateY(-50%);
}

@mixin mod ($name) {
  &--#{$name} {
    @content ;
  }
}
